@page "/todo"
@using _01_FirstApp.Data
@using _01_FirstApp.Services
@inject IHttpClientFactory Factory;
@inject EmployeeState State;
<h3>Todo</h3>

@if (State.ShowingAddDialog)
{
    <AddEmployee Employee="@State.Employee"></AddEmployee>
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @onclick="@(() => State.ShowDialog())">
    Launch demo modal
</button>
@code
{

   
}

@if (State.Employees.Count == 0)
{
    <p>No Employee obtained!</p>
}
else
{
    <ul>
        @foreach (var todo in State.Employees)
        {
            <li>
                <input type="checkbox" @bind="todo.IsDone"/>
                <EmployeeItem Item="todo"></EmployeeItem>
            </li>
        }
    </ul>
   
}

<h3>Undone count: @State.Employees.Count(x=>!x.IsDone)</h3>
